main > .container {
    padding: 60px 15px 0;
}
.react{
    color:black; 
    background-color:transparent;
    border:transparent;
}
.active-react{
    color:darkgreen; 
    background-color:transparent;
    border:transparent;
}
.w-0{
    display:none;
}
.w-10{
    width:10%;
}
.w-20{
    width:20%;
}
.w-30{
    width:30%;
}

@import url('https://fonts.googleapis.com/css2?family=Orbitron&display=swap');
#title {
    padding-bottom: 40px;
}
.calculator {
    border-collapse: separate;
    padding: 20px;
    border-radius: 1.5em;
    height: 380px;
    width: 300px;
    margin: auto;
    background-color: #191b28;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}
.display-box {
    font-family: 'Orbitron', sans-serif;
    text-align: right;
    font-size: 1.5em;
    padding-right: 1em;
    background-color: #e1eff6;
    border: solid black 0.5px;
    color: black;
    border-radius: 10px;
    width: 100%;
    height: 88%;
}
#btn-1 {
    background-color: #b27092;
}
#btn-2 {
    background-color: #7c7c7c;
}
input[type=button] {
    font-family: 'Orbitron', sans-serif;
    background-color: #303036;
    color: white;
    border: solid black 0.5px;
    width: 100%;
    border-radius: 10px;
    height: 90%;
    outline: none;
}
input:active[type=button] {
    background: #e5e5e5;
    -webkit-box-shadow: inset 0px 0px 5px #c1c1c1;
    -moz-box-shadow: inset 0px 0px 5px #c1c1c1;
    box-shadow: inset 0px 0px 5px #c1c1c1;
}

.bg-gradient-primary {
    background-image: linear-gradient(195deg, #56B6C2 0%, #058999 100%);
}

.shadow-primary {
    box-shadow: 0 4px 20px 0 rgb(0 0 0 / 14%), 0 7px 10px -5px rgb(5 137 153 / 40%) !important;
}

.btn-primary, .btn.bg-gradient-primary {
    background-color: #02525b;
    box-shadow: 0 3px 3px 0 rgb(5 137 153 / 15%), 0 3px 1px -2px rgb(5 137 153 / 20%), 0 1px 5px 0 rgb(5 137 153 / 15%);
}

.btn-primary:hover, .btn.bg-gradient-primary:hover {
    background-color: #56B6C2;
    border-color: #56B6C2;
    box-shadow: 0 14px 26px -12px rgb(5 137 153 / 40%), 0 4px 23px 0 rgb(5 137 153 / 15%), 0 8px 10px -5px rgb(5 137 153 / 20%);
}

.alert-primary {
    background-image: linear-gradient(195deg, #56B6C2 0%, #058999 100%);
}

.alert-primary {
    color: #fff;
    background-color: #02525b;
    border-color: #56B6C2;
}

.card .card-header {
    padding: 0.5rem 1rem;
    margin-bottom: 0;
    background-color: rgba(0, 0, 0, 0.03);
    border-bottom: 1px solid rgba(0, 0, 0, 0.125);
}

.card .card-footer {
    padding: 0.5rem 1rem;
    background-color: rgba(0, 0, 0, 0.03);
    border-top: 1px solid rgba(0, 0, 0, 0.125);
}

.server_response {
    color: #fff;
    background-color: #2b2b2b;
    border: 1px solid #E3E3E3;
    border-radius: 4px 4px 4px 4px;
    box-shadow: 0 1px 1px rgb(0 0 0 / 5%) inset;
    margin-bottom: 20px;
    min-height: 20px;
    padding: 40px 19px 19px 45px;
    position: relative;
}

.server_response:before {
    content: 'Reponse Serveur';
    border-right: 1px solid #e3e3e3;
    border-bottom: 1px solid #e3e3e3;
    border-bottom-right-radius: 4px;
    background-color: #fff;
    color: #02525b;
    font-weight: bold;
    position: absolute;
    top: 0px;
    left: 0px;
    padding: 4px 10px 4px 10px;
    box-shadow: 0 1px 1px rgb(0 0 0 / 5%);
}

.bg-0 h5, .bg-0, .bg-3, .bg-3 h5, .bg-4, .bg-4 h5{
    color:white;
}

.bg-1, .bg-2, .bg-5 {
    color:#344767;
}

.bg-0 {
    background-color: #E06C75;
}

.bg-1 {
    background-color: #98C379;
}

.bg-2 {
    background-color: #D19A66;
}

.bg-3 {
    background-color: #61AFEF;
}

.bg-4 {
    background-color: #C678DD;
}

.bg-5 {
    background-color: #D0D4DC;
}
