<aside class="sidenav navbar navbar-vertical navbar-expand-xs border-0 border-radius-xl my-3 fixed-start ms-3 bg-gradient-dark">
  <nav class="nav flex-column">
    <div class="sidenav-header h-50">
      <a class="nav-link text-white text-center " href="/">
        <a class="navbar-brand m-0" href="/">
          <div class="text-white text-center me-2 d-flex align-items-center justify-content-center h-100">
            <img src="https://fonts.gstatic.com/s/i/short-term/release/materialsymbolsoutlined/token/default/48px.svg" alt="logo" width="100" height="100" style="filter: invert(1);">
          </div>
          <div class="text-white text-center me-2 d-flex align-items-center justify-content-center">
            <h6 class="ms-1 text-white">8CLD202 - Intermediaire</h6>
          </div>
      </a>
    </div>
    <a class="nav-link text-white {% if active_page == 'index' %} active bg-gradient-primary {% endif %}" href="/">
      <div class="text-white text-center me-2 d-flex align-items-center justify-content-left">
        <i class="material-icons opacity-10">home</i>
        <span class="nav-link-text ms-1">Objets</span>
      </div>
    </a>
    <a class="nav-link text-white {% if active_page == 'analyses' %} active bg-gradient-primary {% endif %}" 
        href="{{ url_for('analytics.analytics_index') }}">
      <div class="text-white text-center me-2 d-flex align-items-center justify-content-left">
        <i class="material-icons opacity-10">table_view</i>
        <span class="nav-link-text ms-1">Analyses</span>
      </div>
    </a>
    <a class="nav-link text-white {% if active_page == 'simulator' %} active bg-gradient-primary {% endif %}" 
        href="{{ url_for('simulator.simulator_index') }}">
      <div class="text-white text-center me-2 d-flex align-items-center justify-content-left">
        <i class="material-icons opacity-10">developer_board</i>
        <span class="nav-link-text ms-1">Simulation</span>
      </div>
    </a>
    {% if current_user.profil == "admin" %}
    <a class="nav-link text-white {% if active_page == 'users' %} active bg-gradient-primary {% endif %}" 
        href="{{ url_for('user.user_index') }}">
      <div class="text-white text-center me-2 d-flex align-items-center justify-content-left">
        <i class="material-icons opacity-10">receipt_long</i>
        <span class="nav-link-text ms-1">Utilisateurs</span>
      </div>
    </a>
    <a class="nav-link text-white {% if active_page == 'profils' %} active bg-gradient-primary {% endif %}" 
    href="{{ url_for('profil.profil_index') }}">
      <div class="text-white text-center me-2 d-flex align-items-center justify-content-left">
        <i class="material-icons opacity-10">view_in_ar</i>
        <span class="nav-link-text ms-1">Profils</span>
      </div>
    </a>
    {% endif %}
    <a class="nav-link text-white " href="{{ url_for('main.main_logout') }}">
      <div class="text-white text-center me-2 d-flex align-items-center justify-content-left">
        <i class="material-icons opacity-10">directions_run</i>
        <span class="nav-link-text ms-1">Logout</span>
      </div>
    </a>
  </nav> 
</aside>
  