{% extends "layouts/base.html" %}
{% set active_page = "simulator" %}

{% block title %} Simulation {% endblock %} 

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}
  <div class="container-fluid py-4">
    <div class="row">
      <div class="col-12">
        <div class="card my-4">
          <div class="card-header p-0 position-relative mt-n4 mx-3 z-index-2">
            <div class="bg-gradient-primary shadow-primary border-radius-lg pt-4 pb-3">
              <h6 class="text-white text-capitalize ps-3">Simulation objets</h6>
            </div>
          </div>
          {% with messages = get_flashed_messages() %} 
            <div class="card-body px-0 py-2 mt-3">
              <div class="server_response mx-3">
                <p>{{ messages[0] }}</p>  
              </div>
            </div>
            {% endwith %}
            <div class="table-responsive p-0">
              <table class="table table-striped align-items-center mb-0">
                <thead>
                  <tr>
                    <th scope="col" class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7" style="width:20%">Nom</th>
                    <th scope="col" class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7" style="width:20%">Type</th>
                    <th scope="col" class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7"style="width:10%">Status</th>
                    <th colspan="4" class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7"style="width:50%">Action</th>
                  </tr>
                </thead>
                <tbody>
                    {% for o in objects %}
                    <tr>
                      <form action="{{url_for('simulator.simulator_create')}}" method="post" id="form_{{o.id}}">
                        <th scope="row" class="align-middle text-center">{{o.nom}}</th>
                        <td class="align-middle text-center">{{o.type_obj}}</td>
                        <td class="align-middle text-center">{% if o.status_reg == 0 %}Nouveau {% elif o.status_reg == 1 %}Confirmé{% else %}Désactivé{% endif %}</td>
                        <td class="align-middle text-center">
                          <input type="radio" id="On_{{o.id}}" name="IO_{{o.id}}" value="0" required>
                          <label for="On_{{o.id}}">On </label></br>
                          <input type="radio" id="Off_{{o.id}}" name="IO_{{o.id}}" value="1" required>
                          <label for="Off_{{o.id}}">Off</label></br>
                        </td>
                        <td class="align-middle text-center">
                          <label for="measure1_{{o.id}}">
                          {% if o.type_obj == 'Sonde_Niveau_Eau' %}Niveau:{% elif o.type_obj == 'Camera' %}Photo:{% else %}Mesure:{% endif %}
                          </label>
                          {% if o.type_obj == 'Sonde_Niveau_Eau' %}
                          </br><label for="measure2_{{o.id}}">Temperature:</label>
                          {% endif %}
                        </td>
                        <td class="align-middle text-center">
                          <input type="test" id="measure1_{{o.id}}" name="measure1_{{o.id}}" required>
                          {% if o.type_obj == 'Sonde_Niveau_Eau' %}
                          </br><input type="test" id="measure2_{{o.id}}" class="mt-1" name="measure2_{{o.id}}" required>
                          {% endif %}
                          <input type="hidden" id="token" name="token" value="{{o.token}}">
                          <input type="hidden" id="type_obj" name="type_obj" value="{{o.type_obj}}">
                          <input type="hidden" id="id" name="id" value="{{o.id}}">
                          <input type="hidden" id="nom" name="nom" value="{{o.nom}}">
                          <input type="hidden" id="status" name="status" value="{{o.status_reg}}">
                        </td>
                        <td><button type="submit" class="btn btn-info my-auto" >Soumettre</button></td>
                      </form>
                    </tr>
                    {% endfor %}
                </tbody>
              </table>
            </div>
        </div>
      </div>
      <div class="row">    
        <div class="col mt-5 text-end">
          <button class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#create_user">Créer un nouvel objet</button>
      </div>
    </div>
    <div class="modal fade" id="create_user" tabindex="-1" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">Creation d'un Objet</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <form action="{{url_for('object.object_create')}}" method="post" id="form">
              <div class="row">
              <div class="col-6 my-1 text-align-center">Type:</div>
              <div class="col-6 my-1 p-0 text-align-center"> <input type="text" id="type" name="type" value="" required></div>    
              </div>
          </div>    
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fermer</button>
            <input id="submit" name="submit" type="submit" value="Creer" class="btn btn-primary">
          </form>
          </div>
        </form>
        </div>
      </div>
    </div>
  </div> 
</div>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}
